orbs:
  architect: giantswarm/architect@4.24.0

version: 2.1
workflows:
  build:
    jobs:
      # build operator
      - architect/go-build:
          name: go-build
          binary: k8s-audit-metrics
          resource_class: large
          filters:
            tags:
              only: /^v.*/

      # build and push docker image to quay
      - architect/push-to-docker:
          name: push-k8s-audit-metrics-to-quay
          context: "architect"
          image: "quay.io/giantswarm/k8s-audit-metrics"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      # build and push docker image to aliyun
      - architect/push-to-docker:
          name: push-k8s-audit-metrics-to-aliyun
          context: "architect"
          image: "giantswarm-registry.cn-shanghai.cr.aliyuncs.com/giantswarm/k8s-audit-metrics"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - go-build
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      # build and push helm chart to app catalogs
      - architect/push-to-app-catalog:
          name: "package and push chart to TC app catalog"
          context: "architect"
          app_catalog: "giantswarm-playground-catalog"
          app_catalog_test: "giantswarm-playground-test-catalog"
          chart: "k8s-audit-metrics-app"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: "package and push chart to CP app catalog"
          context: "architect"
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "k8s-audit-metrics-app"
          filters:
            # Trigger the job also on git tag.
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: aws-app-collection
          context: "architect"
          app_name: "k8s-audit-metrics"
          app_namespace: "giantswarm"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-k8s-audit-metrics-to-quay
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: azure-app-collection
          context: "architect"
          app_name: "k8s-audit-metrics"
          app_namespace: "giantswarm"
          app_collection_repo: "azure-app-collection"
          requires:
            - push-k8s-audit-metrics-to-quay
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
